<!DOCTYPE html>
<html lang="en">

<head>
    <title>About me</title>

</head>

<body>
    <div >


        <section>
            <h2>My Name is Diego Falcon Costilla</h2>
            <p>
                I'm an International Student from Mexico in my last quarter of the Web Programming Associate Degree.
                After almost 2 amazing years, i'm about to transfer into the Applications Development Bachelor Degree
                of North Seattle College.

            </p>
            <p>
                My hobbies are videogames and music. I'm currently excited to learn more in depth JS Programming
                combined with amazing frameworks like Angular and React. 

            </p>

        </section>




        <footer>
            <small>&copy; 2018 - 2021   ---All Rights Reserved ~ Authored by Diego Falcon</small>
        </footer>
    </div>
</body>

</html>
